.front-page .breadcrumbs {
  display: none;
}

.breadcrumbs {
  &__row {
    @include max-xl {
      padding: 7rem 0 0 0!important;
    } 
  }
}

.breadcrumb_last {
  color:$primary;
}

#breadcrumbs {
  @include max-sm {
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
  }
}
