#breadcrumbs {
  @include max-sm {
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
  }
}

.front-page .breadcrumbs {
  display: none;
}

.breadcrumb_last {
  color:$primary;
}

