#breadcrumbs {
  padding: 0px; 
  @include max-sm {
    overflow: hidden;
    overflow-x: scroll;
    white-space: nowrap;
  }
}

.front-page .breadcrumbs {
  display: none;
}

.breadcrumbs {
  &__row {
    @include max-xl {
      padding: 7rem 0 0 0;
    } 
  }
}

.breadcrumb_last {
  color:$primary;
}

