.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.301);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;
 &__dialog {
    position: relative;
    max-width: 500px;
    max-height: 80vh;
    border-radius: 7px;
    background: $white;
    overflow: auto;
    cursor: default;
    box-shadow: 0 10px 50px -10px rgb(0 0 0 / 90%);
    img {
      background: #ebb0b469;
    }
  }
  &__content {
    padding: 1rem 2rem 1rem 2rem;
    h3 {
          font-variation-settings: 'wght' 500;
    }
    .icon-download {
      &:before {
        content:none;
      }
      &:after {
        content:'\e821';
        font-family:'fontello';
        margin: 0 0 0 1.2rem;
      }
    }
  }
}

.open-modal {
  font-variation-settings: 'wght' 600;
  color: $primary;
  padding: .75rem 1.75rem;
  margin-bottom: 1rem;
  border-radius: 7px;
  background:$white;
  border: 1px solid $primary;
  &:after {
    font-family: fontello;
    content: '\e821';
    margin: 0 0 0 1.2rem;
  }
  
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
  z-index: 1;
}
