.page-numbers {
    border-radius: .4375rem;
    padding: .3125rem .625rem .3125rem .625rem;
    margin: 0 10px 0 10px;
}

.pagination {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}