.page-numbers {
    border-radius: .4375rem;
    padding: .3125rem .625rem .3125rem .625rem;
    margin: 0 10px 0 10px;
}

.pagination {
    display: inline-flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    .current {
        padding: 10px 15px 10px 15px;
        color:white;
        background: linear-gradient(to right,#f3a183,#ec6f66);
    }
}