.search-page {
        display:flex;
        justify-content:center;
        align-items:center;
        flex-flow: column;
        text-align: center;
        img {
            max-width: 100%;
            height: auto;
        }
}