.shortcuts {
    .breadcrumbs__row {
        padding:0!important;
    }
    &__wrapper {
        max-width: 450px;
        transition: 0.6s ease;
        &:hover {
            transition: 0.6s ease;
            transform: translate(0px, -10px);
        }
    }
    &__box {
        padding: 20px;
        border-radius: 15px 15px 0 0;
    }
    &__image {
        width: auto;
        max-height: 240px;
    }
    &__title {
        padding: 30px;
        border-radius: 0 0 15px 15px;
        box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
    }
}