.blog-cards {
    margin: 0rem 0 3rem 0;
    &__scribbble {
        position: absolute;
        top: 6rem;
        width: 400px;
        left: 50%; 
        transform: translate(-50%, -50%);
        @include max-xxl {
            top: 4rem;
            width: 300px;
        }
    }
    
    &__img {
        width:100%;
        max-height: 20rem;
        min-height: 20rem;
        object-fit: cover;
        transition: transform .5s ease;
        border-radius: 20px 20px 0 0;
        img {
            width:100%;
            max-height: 20rem;
            min-height: 20rem;
            object-fit: cover;
            transition: transform .5s ease;
            border-radius: 20px 20px 0 0;
        }
    }  
    &__card {
        border-radius: 20px 20px 20px 20px;
        background-image: linear-gradient( 180deg,#e1eaf4,#e1eaf4 );

    }
    &__body {
        padding: 1.5625rem;
        min-height: 15rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color:$secondary;
        &__link {
            color:$white;
            background:linear-gradient(to right,#f3a183,#ec6f66);
            padding:10px 20px 10px 20px;
            border-radius: $border-radius;
            transition:0.6s ease-in;
            &:hover {
                transform: scale(1.2);
                color: $white;
                transition:0.6s ease-out;
            }
        }
    }
    &__zoom {
        height: auto; 
        overflow: hidden; 
        border-radius: 20px 20px 0px 0px;
    }

    &__scale {
        &:hover { 
            img { 
                transform: scale(1.5); 
            }
        }
    }
    &__category-count {
        font-size: 1.25rem;
        font-weight: 300;
        color:$primary;
    }
    .section-heading {
        text-shadow: -3px 5px 0px black;
        @include max-xl {
            padding: 3rem 0 3rem 0;
            text-shadow: -2px 2px 0px #000;
        }
    }
}
