.event-cards {
    .container-fluid {
        @include max-xl {
            flex-flow: column;
            text-align: center;
        }
    }
    h2 {  
        padding: 0 2rem 0 0rem;
        @include max-lg {
            padding: 0;
        }
    }
    margin: 12rem 0 6rem 0!important;
    @include max-lg {
        margin: 6rem 0 3rem 0!important;
    }
    &__card {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 25px;
        transition: 0.6s ease;
        &:hover {
            transition: 0.6s ease;
            transform: translate(0px, -10px);
        }
    }
    &__img {
        min-height: 220px;
        object-fit: cover;
        width: 100%;
        border-radius: 25px 25px 0 0;
        img {
            min-height: 220px;
            object-fit: cover;
            width: 100%;
            border-radius: 25px 25px 0 0;

            max-width: 100%;
            height: auto;
        }
    }
    &__body {
        padding: 1rem 0 1rem 0;
    }
}