.hero {
    &__text {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-flow: column;
        background: #fbe8de;
        border-radius: 5%;
        padding: 55px;
        @include max-lg {
            align-items: center;
            text-align: center;
        }

    }
    &__heading {
        z-index: 101;
        font-size: 6rem;
        line-height: 1.1;
        @include max-xxl {
            font-size: 4rem;
        }
        @include max-lg {
            font-size: 3.5rem;
        }
    }

    &__image {
        display:flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__photo {
        z-index: 100;
        img {
            border-radius: 50%;
            height: 31.25rem;
            width: 31.25rem;
            object-fit: cover;
            max-width: 100%;    
            @include max-lg {
                height:auto;
                width:auto;
                margin: 0px 0 -3rem 0;
            }
        }
    }
    &__scribbble {
        z-index: 100;
        position: absolute;
        bottom: 0rem;
        right: 0;
        width: 16rem;
        transform: rotate(130deg);
        @include max-xxl {
            bottom: -3rem;
            top: unset;
            width: 110px;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);  
            img {
                max-width: 100%;
                height: auto;
            }  
        }  
    }
    
}