@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-VF.woff2) format('woff2-variations');
    font-style: normal;
    font-display: swap;
  }  
  @keyframes Looper {
    from {
        font-variation-settings: "wght" 900;
    }
    to {
        font-variation-settings: "wght" 100;
    }
  }

  .font-100 {
    font-variation-settings: "wght" 100;
  }
  
  .font-200 {
    font-variation-settings: "wght" 200;
  }
  
  .font-300 {
    font-variation-settings: "wght" 300;
  }
  
  .font-400 {
    font-variation-settings: "wght" 400;
  }
  
  .font-500 {
    font-variation-settings: "wght" 500;
  }
  
  .font-600 {
    font-variation-settings: "wght" 600;
  }
  
  .font-700 {
    font-variation-settings: "wght" 700;
  }
  
  .font-800 {
    font-variation-settings: "wght" 800;
  }
  
  .font-900 {
    font-variation-settings: "wght" 900;
  }


  @font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?86213985');
    src: url('../fonts/fontello.eot?86213985#iefix') format('embedded-opentype'),
         url('../fonts/fontello.woff2?86213985') format('woff2'),
         url('../fonts/fontello.woff?86213985') format('woff'),
         url('../fonts/fontello.ttf?86213985') format('truetype'),
         url('../fonts/fontello.svg?86213985#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  /* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
  /* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
  /*
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: 'fontello';
      src: url('../font/fontello.svg?86213985#fontello') format('svg');
    }
  }
  */
   
   [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
   
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
   
.icon-shop:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } 
.icon-search:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\e803'; } /* '' */
.icon-calendar:before { content: '\e804'; } /* '' */
.icon-envelope:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e806'; } /* '' */
.icon-facebook:before { content: '\E81F'; }
.icon-instagram:before { content: '\e807'; } /* '' */
.icon-lock:before { content: '\e808'; } /* '' */
.icon-phone:before { content: '\e809'; } /* '' */
.icon-shipping:before { content: '\e80b'; } /* '' */
.icon-handshake:before { content: '\e80a'; } /* '' */
.icon-home:before { content: '\e80c'; } /* '' */
.icon-chevron-down:before { content: '\e80d'; } /* '' */
.icon-chevron-left:before { content: '\e80e'; } /* '' */
.icon-chevron-right:before { content: '\e80f'; } /* '' */
.icon-chevron-up:before { content: '\e810'; } /* '' */
.icon-long-arrow-right:before { content: '\e811'; } /* '' */
.icon-long-arrow-left:before { content: '\e812'; } 
.icon-close:before { content: '\e813'; } 
.icon-shopping-bag:before { content: '\e814'; } 
.icon-star:before { content: '\e815' }
.icon-star-solid:before { content: '\e816' }
.icon-sort:before { content: '\e816' }
.icon-upload:before { content: '\e81D'}
.icon-download:before { content: '\e821' }
.icon-expand:before { content: '\e81E' }
