h1, h2, h3, h4, h5, h6 {
  color:$secondary;
}

p, label  {
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: unset;
}

h1 {
  font-size: 6rem;
  font-variation-settings: "wght" 600;
  @include max-xl {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 5.5rem;
  font-variation-settings: "wght" 600;
  @include max-xl {
    font-size: 2.75rem;
  }
}

h3 {
  font-size: 1.5rem;
  font-variation-settings: "wght" 500;
}

a {
  color:$secondary;
  transition: 0.3s ease;
  &:hover {
      text-decoration: none;
      color:$secondary;
      transition: 0.3s ease;
  }
}

p {
  font-size: 1rem;
  font-variation-settings: "wght" 600;
  color:$gray;
}

.text-white {
  color:$white
}

.text-black {
  color:$black;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.section-heading {
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 3rem 0 3rem 0rem;
  position: relative;
  z-index: 100;
}
