$primary-font: 'Montserrat', sans-serif;

$black:#000000;
$white: #ffffff;
$gold: #f8b705;
$gray: #666;
$primary: #ec6f66;
$secondary:darkslateblue;

$border-radius: 0.4375rem;
$box-shadow: '0 3px 6px rgba(235, 176, 180, 0.3)';
$transition:  'transition: 0.6s ease';